<!DOCTYPE html>
<html lang="{{ metadata.language }}" class="min-h-screen bg-gray-100 text-gray-800">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>👋</text></svg>">
		<link rel="stylesheet" href="{{ 'style.css' | url }}">
		<title>{{ title }} | Zainuddin Siddiqi</title>
		<meta name="description" content="{{ description }}">
	</head>
	<body class="font-sans max-w-3xl min-h-screen m-auto px-7 [&>*:not(:last-child)]:mb-20">
		{% include "../components/navigation.njk" %}
		{{ content | safe }}
		{% include "../components/footer.njk" %}
	</body>
</html>